<% provide(:title, "Articles" ) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h3>All Articles</h3>
  </div>
</div>

<% @articles.each do |article| %>
  <div class="row artrow">
    <div class="col-md-2">
      <% if article.photo_file_name %>
  	  <%= link_to image_tag(article.photo.url(:thumb)), article %>
      <% end %>
  	</div>
  	<div class="col-md-10">
  	  <%= link_to article.title, article, class: "art" %> <br />
  	  <em><%= article.sort_date.to_formatted_s(:long_ordinal) %></em><br />
      <%= raw article.text.truncate(80, separator: ' ') %>
      <%= link_to "Continue", article %>
  	</div>
  </div>
<% end %>
